@import "tailwindcss";

@layer base {
    body {
        font-family: "Inter", sans-serif;
    }

    h1 {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 1.75rem;
        line-height: 1.2;
    }

    @media (min-width: 768px) {
        h1 {
            font-size: 2rem;
        }
    }

    @media (min-width: 1024px) {
        h1 {
            font-size: 3rem;
        }
    }

    h2 {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: clamp(1rem, 1.8vw, 1.6rem);
        line-height: 1.2;
    }

    h3 {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 1rem;

    }

    @media (min-width: 768px) {
        h3 {
            font-size: 1rem;
        }
    }

    @media (min-width: 1024px) {
        h3 {
            font-size: 1rem;
        }
    }

    h4 {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: clamp(0.75rem, 1.2vw, 1rem);
        line-height: 1.4;
    }


}
html,
body,
#app {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    background-color: black;
}